.navbar{
position: relative;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
background-color: white;
margin-right: 30px;
height: 90px;
}
ul{
    display: flex;
    gap: 30px;
    position:relative;
}
.navbar>ul>li{
    display: flex;
}
image{
    width: 90px;
}
.p1{
    position: relative;
    bottom: 320px;
    left:97px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.h4{
    position: relative;
    bottom:350px;
    left: 100px;
    font-size: xx-large;
}
